<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <h3>List of User</h3>
      <div class="container">
        <div class="row">
          <table>
            <tbody>
              <tr *ngFor="let user of userList">
                <td>
                  <a
                    class="text-secondary text-center text-decoration-none"
                    routerLinkActive="active-link"
                    (click)="getUserConversationHistory(user)"
                    >{{ user.name }}</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-9">
      <app-user-messages
        [userMessageList]="userMessageList"
      ></app-user-messages>
    </div>
  </div>
</div>
