<div class="container mt-4">
  <div>
    <form [formGroup]="loginFormGroup">
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="text" formControlName="Email" class="form-control" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-8">
          <input
            type="password"
            formControlName="Password"
            class="form-control"
          />
        </div>
      </div>
      <div class="pb-3">
        <button (click)="OnSubmit()" type="button" class="btn btn-primary">
          Login
        </button>
      </div>
    </form>
    <div class="mb-3 float-end">
      <a class="text-decoration-none" routerLink="/register">Register</a>
    </div>
  </div>
</div>
