<div class="container">
  <div class="mt-4">
    <form [formGroup]="loginFormGroup">
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" formControlName="Email" class="form-control" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input
            type="password"
            formControlName="Password"
            class="form-control"
          />
        </div>
      </div>
      <div>
        <button (click)="OnSubmit()" type="button" class="btn btn-primary">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
